In [1]:
location = ['bangalore', 'chennai', 'kolkatta', 'delhi', 'hyderabad']
location

['bangalore', 'chennai', 'kolkatta', 'delhi', 'hyderabad']

In [2]:
for i in location:
    print(i)

bangalore
chennai
kolkatta
delhi
hyderabad

In [3]:
sal =[20000,15000, 32000, 65000]
sal

[20000, 15000, 32000, 65000]

In [4]:
for val in sal:
    if val > 15000:
        print(val)

20000
32000
65000

In [21]:
student_scores = [35,65,57,78,21,75,87,98,79,84]

for marks in student_scores:
    if marks > 60:
        if marks > 70:
            print(marks,'-Distinction')
        else:
            print(marks,'-First Class')
                  
    elif marks > 50 and marks <= 60:
        print(marks,'-Second Class')
        
    elif marks >= 35:
        print(marks,'-Pass') 
    else:
        print(marks, '-Better luck next time')

35 -Pass
65 -First Class
57 -Second Class
78 -Distinction
21 -Better luck next time
75 -Distinction
87 -Distinction
98 -Distinction
79 -Distinction
84 -Distinction

In [22]:
sal

[20000, 15000, 32000, 65000]

In [25]:
sal =[val for val in sal if val < 20000]
sal

[]

In [28]:
sal = [20000,15000, 32000, 65000]
sal = [val for val in sal]
sal

[20000, 15000, 32000, 65000]

In [29]:
sal = [20000,15000,32000,65000]
sal = [val for val in sal if val > 20000]
sal

[32000, 65000]

In [30]:
daily_sales = [100, 150, 45, 123, 145, 170, 200]

income_till_date = 0

for val in daily_sales:
    income_till_date = income_till_date + val
    print('income_till_date >= ', income_till_date)

income_till_date >=  100
income_till_date >=  250
income_till_date >=  295
income_till_date >=  418
income_till_date >=  563
income_till_date >=  733
income_till_date >=  933

In [31]:
daily_sales = [100, 150, 45, 123, 145, 170, 200]

income_till_date = 0

for val in daily_sales:
    income_till_date = income_till_date + val
    
print('total weekly sales >= ', income_till_date)

total weekly sales >=  933

In [32]:
i = 0

while i < 10:
    i = i +1
    print(i, 'Shailesh')

1 Shailesh
2 Shailesh
3 Shailesh
4 Shailesh
5 Shailesh
6 Shailesh
7 Shailesh
8 Shailesh
9 Shailesh
10 Shailesh

In [34]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2022, tm_mon=3, tm_mday=28, tm_hour=20, tm_min=56, tm_sec=30, tm_wday=0, tm_yday=87, tm_isdst=0)

In [39]:
while True:
    result = time.localtime()
    if result.tm_hour == 21 and result.tm_min == 5:
        print('wake up buddy')
        break

wake up buddy

In [42]:
students = ['sachin', 'Dravid', 'Laxman','Rahul','ganguly']

for i in enumerate(students):
    print(i)

(0, 'sachin')
(1, 'Dravid')
(2, 'Laxman')
(3, 'Rahul')
(4, 'ganguly')

In [47]:
students = ['sachin', 'Dravid', 'Laxman','Rahul','ganguly']

for i, name in enumerate(students, 1):
    print(i,name)

1 sachin
2 Dravid
3 Laxman
4 Rahul
5 ganguly

In [48]:
students

['sachin', 'Dravid', 'Laxman', 'Rahul', 'ganguly']

In [49]:
marks = [10, 15, 30, 20, 35]

students_details = list(zip(students,marks))
students_details

[('sachin', 10),
 ('Dravid', 15),
 ('Laxman', 30),
 ('Rahul', 20),
 ('ganguly', 35)]

In [50]:
students, marks = zip(*students_details)
students

('sachin', 'Dravid', 'Laxman', 'Rahul', 'ganguly')

In [51]:
marks

(10, 15, 30, 20, 35)

In [59]:
students_name = ['sachin', 'Dravid', 'Laxman','Rahul','ganguly']
students_marks = [10, 15, 30, 20, 35]
for i, (name,marks) in enumerate (zip(students_name,students_marks), 1):
    print(i,students,marks)

1 ganguly 10
2 ganguly 15
3 ganguly 30
4 ganguly 20
5 ganguly 35

In [90]:
location = ['kochi','kerla','Ranchi', 'Mysore','Bangal']

for val in location:
    if val == 'Mysore':
        break
        print(val)

In [129]:
location = ['kochi','kerla','Ranchi', 'Mysore','Bangal']

for val in location:
    if val == 'Ranchi':
        break
    print(val)

kochi
kerla

In [73]:
income = [20000,22000,34000,55000,57000,66000,90000]

for val in income:
    if val > 56000:
        
        break
                         
    print(val)

20000
22000
34000
55000

In [26]:
location = ['kochi','kerla','Ranchi', 'Mysore','Bangal']
location

['kochi', 'kerla', 'Ranchi', 'Mysore', 'Bangal']

In [16]:
for val in location:
    if val =="Mysore":
        continue
    print(val)

kochi
kerla
Ranchi
Bangal

In [74]:
earning = [18000,25000,34000,10000,15000,19000]

for val in earning:
    if val > 16000:
        continue
    print(val)

10000
15000

In [75]:
print(range(10))

range(0, 10)

In [76]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
roll_numbers = list(range(1,8))
roll_numbers

[1, 2, 3, 4, 5, 6, 7]

In [80]:
step_size = list((range(0,31,3)))
step_size

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [81]:
new_set= list(range(1600,100,-100))
new_set

[1600,
 1500,
 1400,
 1300,
 1200,
 1100,
 1000,
 900,
 800,
 700,
 600,
 500,
 400,
 300,
 200]