In [1]:
def say_hello():
    
    print('This is just a sample')
    
say_hello()

This is just a sample

In [21]:
def greeting(name):
    
    print('Hello %s' % name)
    
        
greeting('dear students')

Hello dear students

In [18]:
def salary_incr(salary):
    if salary <= 9000:
        return (salary + 1000)        
    else:
        return salary
    
print('Your new salary is =',salary_incr(1500))

Your new salary is = 2500

In [23]:
def stud_marks(Maths,Science,English):
    return(Maths+ Science+ English)

print('Your total_marks =',stud_marks(20,30,40))

Your total_marks = 90

In [24]:
total_marks = stud_marks(30,40,50)
total_marks

120

In [34]:
total_marks = stud_marks(100,10,50)

if total_marks < 90:
    print(total_marks,'- Fail')
elif total_marks > 90 and total_marks < 150:
    print(total_marks,'- pass')
elif total_marks > 150 and total_marks < 250:
    print(total_marks,'-FC')
else:
    print(Distinction)

160 -FC

In [8]:
def phone_price(phone_make,phone_age,phone_GB):
    if phone_make == 'iphone 11':
        if 0 < phone_age <= 6:
            if phone_GB == 64:
                print('Rs 39,245 - Rs 41,345')
            elif phone_GB == 128:
                print('Rs 45,654 -Rs 48,545')
                
        if 6 < phone_age <= 12:
            if phone_GB == 64:
                print('Rs 29,456 -Rs 31,654')
            elif phone_GB == 128:
                print('Rs 34,567 - Rs 36,432')
    
    elif phone_make == 'Samsung B110':
        if 0 < phone_age <= 6:
            print('Rs 853 - Rs 906')
        elif phone_age > 12:
            print('Rs 711 - Rs 755')
            
            
phone_price('iphone 11',7,128)

Rs 34,567 - Rs 36,432

In [6]:
phone_price('iphone 11',5,128)

Rs 45,835- Rs 48,678

In [13]:
def sqer(number):
    for val in range(2,number):
        print('squared', val**2)
        
            
sqer(6)

squared 4
squared 9
squared 16
squared 25

In [14]:
def sqer(number):
    for val in range(2,number):
        if val % 2 == 0:
            print('squared', val**2)
        else:
            print('odd number')
            
sqer(6)

squared 4
odd number
squared 16
odd number

In [17]:
add_num = lambda y : y + 30
    
print(add_num(50))

80

In [21]:
multi_num = lambda a, b : a * b

print(multi_num(10,15))

150

In [22]:
def my_fun(*args):
    for i in args:
        print('My args-', i)
        
my_fun('bengalore',10,14.4,244,'chennai')

My args- bengalore
My args- 10
My args- 14.4
My args- 244
My args- chennai

In [31]:
def my_kwargs(**kwargs):
    for key,value in kwargs.items():
        
        print(key,value)
        
my_kwargs(stud = ['Ram,Shayam,Banti'],marks=(40,20,50))

stud ['Ram,Shayam,Banti']
marks (40, 20, 50)

In [32]:
s = 'India is Great'
s

'India is Great'

In [38]:
s[6]

'i'

In [39]:
s[1:]

'ndia is Great'

In [40]:
s[:3]

'Ind'

In [41]:
s[1:3]

'nd'

In [42]:
s[-1]

't'

In [43]:
s[ :-1]

'India is Grea'

In [45]:
s[:: 2]

'Idai ra'

In [46]:
s[:1:-2]

'teGs i'