In [1]:
import pandas as pd
import numpy as np

In [3]:
ser1 = pd.Series([1,2,3,4],['CA','OR','CO','AZ'])
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [4]:
ser1['CO']

3

In [5]:
#indexingByname of item

print('Value of CA in ser1:',ser1['CA'])

Value of CA in ser1: 1

In [6]:
#Fetching By Positional Index

print('Value of CO in ser1:',ser1[2])

Value of CO in ser1: 3

In [7]:
ser1

CA    1
OR    2
CO    3
AZ    4
dtype: int64

In [15]:
#Fetching by range
print('Value of elements from index 1 to 3 in ser1:\n',ser1[1:4])

Value of elements from index 1 to 3 in ser1:
 OR    2
CO    3
AZ    4
dtype: int64

In [13]:
ser1 = pd.Series([1,2,3,4,10],['CA','OR','CO','AZ','NV'])
ser2 = pd.Series([1,2,5,4,30],['CA','OR','NV','PA','CO'])

In [14]:
ser3 = ser1 + ser2
ser3

AZ     NaN
CA     2.0
CO    33.0
NV    15.0
OR     4.0
PA     NaN
dtype: float64