In [2]:
#Anova

import pandas as pd

hyp = pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Semester%20marks.csv')
hyp

     Student_ID  Semester  Total_Marks
0             1         1          365
1             2         3          376
2             3         1          411
3             4         3          436
4             5         2          366
..          ...       ...          ...
195         196         1          431
196         197         3          330
197         198         1          311
198         199         1          358
199         200         2          468

[200 rows x 3 columns]

In [5]:
import numpy as np
import statsmodels.formula.api as sm
mod = sm.ols('Total_Marks ~ Semester',data=hyp).fit()
mod

In [6]:
import statsmodels.api as k
aov_table = k.stats.anova_lm(mod,typ=1)
aov_table

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [7]:
#Lets see manually

print('Semester 1 avg marks:',np.ceil(hyp['Total_Marks'][hyp['Semester']==1].mean()))

print('Semester 2 avg marks:',np.ceil(hyp['Total_Marks'][hyp['Semester']==2].mean()))

print('Semester 3 avg marks:',np.ceil(hyp['Total_Marks'][hyp['Semester']==3].mean()))

Semester 1 avg marks: 403.0
Semester 2 avg marks: 393.0
Semester 3 avg marks: 406.0