In [1]:
from numpy.random import randint as ri
import pandas as pd

In [2]:
#1000 students and probability of student scoring 50 marks
marks = ri(30,100,1000)
stud_marks = pd.Series(marks)
stud_marks.head()

0    54
1    45
2    42
3    66
4    62
dtype: int32

In [3]:
mean_marks = stud_marks.mean()
print('Mean_marks:',mean_marks)

Mean_marks: 64.752

In [4]:
marks_std = stud_marks.std()
print('Std_Dev:',marks_std)

Std_Dev: 20.270110344380793

In [6]:
x = 50

import scipy.stats as st
prob = st.norm.cdf(x,loc=mean_marks,scale=marks_std)
print(prob)

0.23337686675899194

In [8]:
x1 = 60
prob_2 = st.norm.cdf(x1,loc=mean_marks,scale=marks_std)
print(prob_2)

0.4073240912646396

In [10]:
#probability of scoring between 50 and 60
y = prob_2 - prob
print(y)

0.17394722450564765

In [13]:
#car manufacturing claims mileage to be 25 kmph.Population std. dev from past experince is 1.5 kmpl.
#Car rental company waants to test null hypothesis that avearge mileage is at least 25kmpl.
#Car rental reprensentative drove 30 car of same compnay and recorded each car mileage.
# Avg mileage turns out to be 24.2 kmpl.Test null hypotheis .

In [14]:
import numpy as np
mean = 25
sample_mean = 24.2
std = 1.5
n = 30

In [16]:
z = (sample_mean-mean)/(std/np.sqrt(30))
z

-2.921186973360889

In [17]:
import scipy.stats as st
p_value = st.norm.cdf(sample_mean,loc=mean,scale=std/np.sqrt(n))
p_value

0.0017435024460706768

In [ ]:
#P_value < .05
#Reject null Hypothesis

In [18]:
import pandas as pd
hyp = pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [19]:
#Teacher wants to teach student for competitive exam. Based on her past experience she believes that thease students will score
#more than 60 marks in exam.Conduct hypothesis testing

In [20]:
#Ho >= 60
#Ha < 60

In [21]:
xbar = hyp['Math1'].mean()
xbar

52.645

In [22]:
apha = .05
xbar = 52.645
mu = 60

In [23]:
#1 Sample test

import scipy.stats as st
st.ttest_1samp(hyp.Math1,mu)

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [24]:
#2sample t test-Independent Sample

hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

In [25]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [26]:
#How to subsrt data on Gender

hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [27]:
#Independent sample test

t,p = st.ttest_ind(hyp[hyp['Gender']==1].Math1,hyp[hyp['Gender']==0].Math1)

In [28]:
p

0.6800544974232143

In [29]:
#pairedSample

t,p = st.ttest_rel(hyp.Math1,hyp.Math2)

In [30]:
p

0.17676525605507354

In [ ]:
#Now Alternate Hypothesis is true